PUERTO=3010
API_VERSION=v2
MONGODB_CONSTRING=mongodb+srv://<user>:<password>@<cluster>/<database>?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:5173

SWAGGER_DOCS=/api-docs
JWT_SECRET=change_me
SESSION_SECRET=change_me

LOGS_FOLDER=./logs/
LOGS_ACTIVOS=true
ACCESS_LOG=true
ERROR_LOG=true

NODE_ENV=development
